@import 'https://www.arbetsformedlingen.se/etjanst/naf_ui_framework/latest/naf_ui_framework.min.css';

body {
  background-color: #F9F9F9;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a, body a {
  color: #1616b2;
  font-weight: 600;
}

a:hover, body a:hover {
  color: #1616b2;
}

.normal, a, body a, p {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

h1:after {
  background-color: #00005a;
  content: "";
  display: block;
  height: 7px;
  margin-top: 30px;
  margin-bottom: 35px;
  width: 115px;
}

@media (min-width: 768px) {
  .h1:after, h1:after {
    width: 230px;
    height: 10px;
  }
}

h2 {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }
}

@media(max-width: 767px) {
  .container {
    width: 95%;
  }

  .container.container-narrow {
    width: 90%;
  }
}

.btn {
  text-transform: none;
  font-weight: normal;
}

.btn.btn-primary {
  background: #00005a;
  border-color: #00005a;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background: #1616b2;
  border-color: #1616b2;
}

.btn-lg {
  font-size: 16px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
